/*=============== FOOTER ===============*/
.footer {
  background-color: var(--white-color);
  color: var(--white-color-dark);
  padding: 5px;
  margin-top: 0;
}

.footer__container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 3rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px 10px;
  align-items: center;
}

.footer__left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__logo {
  max-width: 120px;
  height: auto;
  display: block;
  
}

.footer__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.footer__section {
  text-align: left;
}

.footer__title {
  font-size: 1rem;
  font-weight: var(--font-semi-bold);
  margin-bottom: 0.5rem;
  color: var(--black-color);
}

.footer__text {
  font-size: 0.9rem;
  line-height: 1.6;
  color: var(--black-color);
}

.footer__text a {
  color: var(--black-color);
  text-decoration: none;
  transition: color 0.3s;
}

.footer__text a:hover {
  color: var(--black-color);
}

.footer__bottom {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0rem 0rem 0;
}

.footer__copyright {
  color: var(--black-color);
  font-size: 0.7rem;
}

/* Responsive Footer */
@media screen and (max-width: 768px) {
  .footer__container {
    grid-template-columns: 1fr;
    gap: 2rem;
    text-align: center;
  }

  .footer__left {
    justify-content: center;
  }

  .footer__logo {
    max-width: 100px;
  }

  .footer__content {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .footer__section {
    text-align: center;
  }

  .footer__bottom {
    text-align: center;
  }

  .footer {
    padding: 2rem 0;
    margin-top: 2rem;
  }
}